/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,800;1,400&display=swap');

/* General */
body {
    background-color: #1c1d25;
    color: #fff;
    font-size: 14px;
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500 !important;
}

.top-header {
    position: fixed;
    width: 100%;
    padding: 10px 40px 10px 20px;
}

.logo img {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: relative;
}

.main-content {
    width: 1200px;
    padding: 200px 20px 0 20px;
    min-height: 400px;
    text-align: center;
}


/* Navigation */
.navi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: absolute;
    right:80px;
    top: 20px;
    font-size: 13px;
    letter-spacing: 2px;
  }

  .navi li {
    display: inline;
    float: right;
  }

  .navi li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: ease-in-out 0.3s;
  }
  
  .navi li a:hover {
   color: #9e44b4;
  }

  /* Navigation Icons */
  .social-icons {
      width: 24px;
      height: auto;
      opacity: 0.8;
  }

  .social-icons:hover {
      opacity: 1;
  }
